/* Write your media queries and flexbox CSS below */

@media (min-width: 480px) {
  nav.site-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 700px) {
  header.site-header {
    display: flex;
    flex-direction: row;
  }

  nav.site-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 992px) {
  header.site-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
