/* Add your own CSS code below */
.site-wrapper {
  display: flex;
  flex-direction: column;
}

.countries--first {
  display: flex;
  flex-direction: row-reverse;
}

.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
